* {
    box-sizing: border-box;
}

.trading-card {
	border: 1px solid black;
	width: 320px;
	padding: 10px;
	box-shadow: 10px 10px #d2cbcb;
}

.image {
 	width: 300px;
    padding: 1px;
    margin: 1px;
    box-shadow: 
}

.fact {
	font-style: italic; 
}

.description {
	border: 1px solid black;
	width: 300px;
	padding:10px;
}

.list {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.list span {
	font-weight: bold;
}
